[Desktop Entry]
Type=Application
Name=Install xfce-aerolike
Comment=Install xfce-aerolike to your computer
Exec=calamares
Icon=drive-harddisk
Terminal=false
Categories=System;
NoDisplay=false
