[user]
onlyDisplayVisible=true
showWindowCount=true
middleButtonBehavior=1
indicatorStyle=2
inactiveIndicatorStyle=2
forceIconSize=true
iconSize=32
indicatorColorFromTheme=false
indicatorColor=rgb(64,184,191)
inactiveColor=rgb(24,135,124)
indicatorOrientation=1
showPreviews=true
