[Desktop Entry]
Type=Application
Name=Install xfce-aerolike
Comment=Install xfce-aerolike to your computer
Exec=sudo -E env QT_QPA_PLATFORMTHEME=qt6ct calamares
Icon=drive-harddisk
Terminal=false
Categories=System;
NoDisplay=false
