[Unit]
Description=Update unbound DNSSEC trust anchor
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/unbound-anchor -a /etc/unbound/trusted-key.key
SuccessExitStatus=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
