[Unit]
Description=Generate unbound-control TLS certificates
ConditionPathExists=!/etc/unbound/unbound_server.pem
Before=unbound.service

[Service]
Type=oneshot
ExecStart=/usr/bin/unbound-control-setup
ExecStartPost=/usr/bin/chown -R unbound:unbound /etc/unbound

[Install]
WantedBy=multi-user.target
