[Unit]
Description=Ensure unbound file permissions
Before=unbound.service

[Service]
Type=oneshot
ExecStart=/usr/bin/chown -R unbound:unbound /etc/unbound
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
