[Unit]
Description=Trust installer launcher
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=gio set "%h/Desktop/install-xfce-aerolike.desktop" metadata::trusted true
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
